In [1]:
lst=['red','green','blue']
res = map(lambda x: x[2], lst)
print(list(res))

['d', 'e', 'u']

In [22]:
print(list(map(lambda x,y: str(x) + ' ' + y + 's', [0,2,3], ['apple','orange','banana'])))

['0 apples', '2 oranges', '3 bananas']

In [6]:
lst1 = ['alice','bob','frank']
res = ' marries '.join(lst1)
print(res)

alice marries bob marries frank

In [7]:
    salaries = [99000,101000,110000,34000]
    res2 = filter(lambda x: x > 100000, salaries)
    print(list(res2))

[101000, 110000]

In [8]:
salaries = [99, 120, 888, 12, 88]
new_sal = sorted(salaries)
print(new_sal)

[12, 88, 99, 120, 888]

In [3]:
lst3 = ['Alice','Bob','Frank','tom']
salaries2=['999999','1200000','99999','88888']

res3 = zip(lst3,salaries2)
print(list(res3))

[('Alice', '999999'), ('Bob', '1200000'), ('Frank', '99999'), ('tom', '88888')]

In [4]:
lst3 = ['Alice','Bob','Frank','tom']
salaries2=['999999','1200000','99999','88888']
thirdlist = [0,1,2]

res3 = zip(lst3, salaries2, thirdlist)
print(list(res3))

[('Alice', '999999', 0), ('Bob', '1200000', 1), ('Frank', '99999', 2)]

In [5]:
lst3 = ['Alice','Bob','Frank','tom']
salaries2=['999999','1200000','99999','88888']

res3 = list(zip(lst3, salaries2, thirdlist))
print(list(res3))
print (list(zip(*res3)))

[('Alice', '999999', 0), ('Bob', '1200000', 1), ('Frank', '99999', 2)]
[('Alice', 'Bob', 'Frank'), ('999999', '1200000', '99999'), (0, 1, 2)]

In [6]:
for i in range(len(lst3)):
    print(str(i) + " " + lst3[i])

0 Alice
1 Bob
2 Frank
3 tom

In [39]:
for i,name in enumerate(salaries2):
    print(str(i) + "  " + name)

0  999999
1  1200000
2  99999
3  88888

In [49]:
[n ** 2 for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
[n ** 2 for n in range(10) if n % 2]

[1, 9, 25, 49, 81]

In [54]:
[(x,y) for x in (1, 2, 3, 4) if x % 2 for y in ['a', 'b'] if y == c]

NameError: name 'c' is not defined